<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:utext="${title}"></title>
		<meta charset="UTF-8">
	</head>
   
	<body>
	
		<h2>Message : <span th:utext="${message}"></span></h2>
		
		<a th:href="@{/newCar}">	Ajouter une voiture					</a> /
		<a th:href="@{/newOperation}">	Ajouter une opération					</a><br>
		<a th:href="@{/listCars}">	Afficher la liste des voitures		</a> /
		<a th:href="@{/listOperations}">	Afficher la liste des opérations		</a>
		
	</body>
</html>