<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Voitures</title>
    <meta charset="UTF-8" />
    <th:block th:insert="~{fragments/myTemplate :: link}"></th:block>
</head>
<body>
<div th:insert="~{fragments/myTemplate :: nav-bar-fragment}"></div>
	<div class="container">
  <h2>Liste des Voitures</h2>
  <p>La liste des Voitures: </p>            
  <table class="table table-striped">
    <thead>
     <tr>
			<th>Marque</th>
			<th>Modèle</th>
			<th>Prix</th>
			<th>Disponibilité</th>
			<th colspan=3>Actions</th>
		</tr>
    </thead>
    <tbody>
      <tr th:each="car : ${cars}">
			<td th:text="${car.marque}"></td>
			<td th:text="${car.modele}"></td>
			<td th:text="${car.prixLocation}"></td>
			<td th:text="${car.etat}"></td>
			<td><a th:href="@{${'/car/'+ car.carID}}"><input type="button" class="btn btn-primary" value="Aperçu"></a></td>
			<td><a th:href="@{${'/car/'+ car.carID +'/update'}}"><input type="button" class="btn btn-success" value="Modifier"></a></td>
			<td><a th:href="@{${'/car/'+ car.carID +'/delete'}}"><input type="button" class="btn btn-danger" value="Supprimer"></a></td>
		</tr>
    </tbody>
  </table>
</div>
			<th:block th:insert="~{fragments/myTemplate :: body/script}"></th:block>

</body>
</html>