<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des opérations</title>
    <meta charset="UTF-8" />
    <th:block th:insert="~{fragments/myTemplate :: link}"></th:block>
</head>
<body>
<div th:insert="~{fragments/myTemplate :: nav-bar-fragment}"></div>
	<h3>Liste des opérations</h3>
	
	<table border=1>
		<tr>
			
			<th>Date Debut</th>
			<th>Date Fin</th>
			<th>Montant de garantie</th>
			<th>Type de garantie</th>
			<th>Frais de location</th>
			<th>Type de payement</th>
		</tr>
		<tr th:each="operation : ${operations}">
			<td th:text="${{operation.dateDebut}}"></td>
			<td th:text="${{operation.dateFin}}"></td>
			<td th:text="${operation.montantGarantie}"></td>
			<td th:text="${operation.typeGarantie}"></td>
			<td th:text="${operation.fraisLocation}"></td>
			<td th:text="${operation.typePayement}"></td>
			<td><a th:href="@{${'/operation/'+ operation.operationID}}"><input type="button" value="Aperçu"></a></td>
			<td><input type="button" value="Modifier"></td>
			<td><a th:href="@{${'/operation/'+ operation.operationID +'/delete'}}"><input type="button" value="Supprimer"></a></td>
		</tr>
	</table>

</body>
</html>