<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Ajouter une opération</title>
    <th:block th:insert="~{fragments/myTemplate :: link}"></th:block>


    <script type="text/javascript">
        function triggerSubmit(){
            let dropDownList = document.getElementById("ddCar")
            let f = document.getElementById("carSelectForm")
            let v = dropDownList.value
            f.action += "/" +v
            f.submit()
        }

    </script>
</head>

<body>
<div th:insert="~{fragments/myTemplate :: nav-bar-fragment}"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-info">Message : <span th:utext="${message}"></span></h2>

            <th:block th:if="${condition} == 'stepOne'">
                <form th:object="${operation}" th:action="@{/operation/new}" method="POST">
                    <table>
                        <tr>
                            <th align="left">Date Debut</th>
                            <td><input type="date" th:field="*{dateDebut}"></td>
                        </tr>
                        <tr>
                            <th align="left">Date Fin</th>
                            <td><input type="date" th:field="*{dateFin}"></td>
                        </tr>
                        <tr>
                            <th align="left">Montant de garantie</th>
                            <td><input type="number" th:field="*{montantGarantie}"></td>
                        </tr>
                        <tr>
                            <th align="left">Type de garantie</th>
                            <td><input type="text" th:field="*{typeGarantie}"></td>
                        </tr>
                        <tr>
                            <th align="left">Frais de location</th>
                            <td><input type="number" min="0" th:field="*{fraisLocation}"></td>
                        </tr>
                        <tr>
                            <th align="left">Type de payement</th>
                            <td>
                                <select th:field="*{typePayement}">
                                    <option th:value="'Chèque'" th:text="Chèque"></option>
                                    <option th:value="'Espèce'" th:text="Espèce"></option>
                                </select>
                            </td>
                        </tr>
                        <!--
						<tr>
                            <th align="left">Voitures</th>
                            <td>
                                <select th:object="${car}">
                                    <option th:each="car : ${cars}" th:text="${car.marque} +' '+ ${car.modele}"></option>
                                </select>
                            </td>
                        </tr>
                        -->
                        <tr colspan=2>
                            <td><input type="submit" value="Suivant" width="100%"></td>
                        </tr>
                    </table>
                </form>
            </th:block>

            <th:block th:if="${condition} == 'stepTwo'">
                <form id="carSelectForm" th:action="@{${'/operation/' + operationID + '/car'}}" method="POST">
                    <table>
                        <tr>
                            <th align="left">Voiture</th>
                            <td>
                                <select id="ddCar">
                                    <th:block th:each="c : ${listCars}">
                                        <!-- <option th:text="${c.marque} +' '+ ${c.modele}" th:value="${c.carID}"></option> -->
                                        <option th:text="${c}" th:value="${c.carID}"></option>
                                    </th:block>
                                </select>
                            </td>
                        </tr>
                        <tr colspan=2>
                            <td><input onclick="triggerSubmit()" type="button" value="Submit"></td>
                        </tr>
                    </table>
                </form>
            </th:block>

        </div>
    </div>
</div>
</body>
</html>