<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Opération</title>
<meta charset="UTF-8">
<th:block th:insert="~{fragments/myTemplate :: link}"></th:block>
</head>

<body>
	<div th:insert="~{fragments/myTemplate :: nav-bar-fragment}"></div>
	<div class="container">
		<h2>Opération</h2>
		<p>Une opération:</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date Debut</th>
					<th>Date Fin</th>
					<th>Montant de garantie</th>
					<th>Type de garantie</th>
					<th>Frais de location</th>
					<th>Type de payement</th>
					<th>Voiture</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${{operation.dateDebut}}"></td>
					<td th:text="${{operation.dateFin}}"></td>
					<td th:text="${operation.montantGarantie}"></td>
					<td th:text="${operation.typeGarantie}"></td>
					<td th:text="${operation.fraisLocation}"></td>
					<td th:text="${operation.typePayement}"></td>
					<td th:text="${operation.car}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<th:block th:insert="~{fragments/myTemplate :: body/script}"></th:block>

</body>
</html>